.plotter-plot {
    .ant-card-body {
      padding: 0;
    }
    .rule {
      height: 90%;
      position: absolute;
      border-right: 1px dotted #000;
      text-align: right;
    }
  }
  
  svg {
    // poiter-events: all;
    // .axis-grid line {
    //   stroke: rgba(221, 238, 255, 0.5);
    // }

    rect:hover {
    }
    rect:hover {
      // stroke-width: 5;
    }
  }